#lightbox-box {
	border-color: #ccc8bf;
	border-width: 10px;

	#lightbox-yes, #lightbox-no {
		border-radius: .5em;
	}

	#lightbox-yes {
		background-color: #51a051;
	}

	#lightbox-no {
		background-color: #585858;
	}
}